.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
html {
    background: url('../images/background.jpg') no-repeat fixed bottom right;
    -webkit-background-size: auto 100%;
    -moz-background-size: auto 100%;
    -o-background-size: auto 100%;
    background-size: auto 100%;
}
html, body {
    background-color: transparent;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header-container{
    display: inline-block;
    margin-left: 150px;
}
.footer-container {
    display: inline-block;
    height : 30px;
    margin-left: 80px;
}
/* Custom page header */

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    margin-top: 10px;
    color: #777;
    /*border-top: 1px solid #fdd886;*/
    line-height: 30px;
    bottom: 0;
}
.bannerlogo {
    display: inline-block;
    vertical-align: top;
    position: absolute;
    padding-left: 10px;
}

/* Main marketing message and sign up button */
.container-body {
    padding: 20px;
    margin: 50px auto 50px auto;
    background-color: transparent;
}
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}
.marketing p + h4 {
    margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
/*@media screen and (min-width: 768px) {
    .container {

    }
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    .header {
    }
    .jumbotron {
        border-bottom: 0;
    }
}*/

/* navbar */
.navbar {
    min-height : 30px;
}
.navbar-default {
    background-color: #fee8b8;
    border: none;
    /*border-color: #fcc03b;*/
}
.navbar-fixed-top {
    height: 50px;
}
.navbar-fixed-bottom {
    height: 30px;
}
.navbar-default .navbar-collapse {
    background-color: #fee8b8;
    border-radius: 0 0 6px 6px;
    border: none;
}
/* title */
.navbar-default .navbar-brand {
    color: #777;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #5E5E5E;
}
/* link */
.navbar-default .navbar-nav > li > a {
    color: #777;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #fcc03b;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #222;
    background-color: #fee09f;
}
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #fcc03b;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #D5D5D5;
}
/* caret */
/*.navbar-default .navbar-nav > .dropdown > a .caret {
border-top-color: #777;
border-bottom-color: #777;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
border-top-color: #fdd06d;
border-bottom-color: #fdd06d;
}
.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
border-top-color: #555;
border-bottom-color: #555;
}*/
/* mobile version */
.navbar-default .navbar-toggle {
    border-color: #fdd06d;
    text-align: center;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #fee09f;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fdd06d;
}
/*@media (max-width: 567px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
    }
}*/

/* frame inside container and child elements*/
.frame {
    border : 1px solid #fdd06d;
    padding : 10px;
    margin-left: auto;
    border-radius: 10px;
    background-color: white;
    min-height: 350px;
    min-width: 280px;
    overflow: hidden;
}
.frame  h1 {
    margin: 10px 0 20px 0;
    line-height: 100px;
    text-align: center;
}
.frame  h1 > img {
    /*vertical-align: top;*/
    position: absolute;
}
.frame .block {
    display: inline-block;
    text-align: center;
    margin: auto;
    vertical-align: middle;
}
.frame .ui-select-toggle {
    border-color: #fee8b8;
}
.frame .ui-select-choices {
    max-height: 150px;
}
.frame .picture {
    margin: auto;

}
.frame .img-loader{
    margin: auto;
    margin-top: 20px;
    display: block;
}
.frame .intname-name{
    float: left;
    margin-right: 10px;
}
.frame .intname-lang{
    float: right;
    margin-left: 10px;
}
.frame .bold{
    font-weight: bold;
}
/* table style */
.frame .pokedata{
    margin: 20px;
}
.frame .pokedata tr {
    border-top: 1px solid #ececec;
    line-height: 40px;
}
.frame .pokedata tr:last-child{
    border-bottom: 1px solid #ececec;
}
.frame .pokedata th{
    text-align: right;
    padding-right: 20px;
    color: #777;
}
.frame .pokedata td .type {
    margin-right: 10px;
}
.frame .pokedata td .progress {
    min-width: 100px;
    margin: auto;
}
.frame .pokedata ul li {
    line-height: 20px;
    display: table-row;
}
