<div class="frame">
    <h1>TP AngularJS -
        <small class="text-center">Du pattern mvw</small>
    </h1>

    <div class="col-md-6">
        <p class="lead text-center">
            TP3 : AngularJS</br>
            Un jour je serai le meilleur codeur</br>
            Je développerai sans répit</br>
            Je ferai tout pour être vainqueur</br>
            Et gagner les défis</br>
            Je parcourrai le web entier</br>
            Traquant avec espoir</br>
            Les frameworks et leurs mystères</br>
            Le secret de leurs pouvoirs</br>
        </p>
    </div>
    <div class="col-md-6">
        <p class="lead text-center">
            [Refrain]</br>
            Angular !</br>
            Développez les tous</br>
            C'est notre TP</br>
            Ensemble pour la victoire</br>
            Angular !</br>
            Rien ne nous arrêtera</br>
            Notre binôme triomphera</br>
        </p>
    </div>
</div>
