<div class"search poke">
<h1>Pokédex</h1>

<!-- Search -->
<div ng-controller="PokeSearchCtrl">
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <div class="col-md-4">
                <ui-select ng-model="pokemon.selected" limit="100" ng-disabled="!pokemonList">
                    <ui-select-match placeholder="Sélectionnez un pokémon">{{$select.selected.name}}</ui-select-match>
                    <ui-select-choices limit="10" repeat="pokemon in pokemonList | listFilter: $select.search | limitTo : $select.limit" class="form-control"
                  refresh-delay="0">
                        <span ng-bind-html="pokemon.name | highlight: $select.search"></span>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
    </form>
</div>

<!-- Pokémon information -->
<!-- <div ng-controller="PokeInfosCtrl">
    <div ng-model="pokemonInfo">
        <img src="http://img.pokemondb.net/artwork/{{pokemonInfo.name}}.jpg"
    </div>
</div> -->
